
body{
background-color: rgb(178, 242, 250);    
margin: 0;
}

/* Comentario */

.grid-container {
    border: thin solid black;
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'right right content content content content'
                         'footer footer footer footer footer footer';
    grid-gap: 10px;
}

#header { grid-area: header; }
#right { grid-area: right; }
#content { grid-area: content; 

grid-area: content;
text-align: center;
}
#footer { grid-area: footer; }

.box {
border: thin solid black;
}

#menu > li {
    border: thin solid blue;
    padding: 10px;
}